


<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actudatos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="stylesheet" href="./css/formulario.CSS">
<link rel="stylesheet" href="./css/style.CSS">
<link rel="stylesheet" href="./css/archivo.CSS">
    <title>Tienda de Vehículos</title>

  </head>
  <body>
    <!-- inicio menú -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/index"><img  class="ffoto" src="/imagenes/logo13.png"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/Vistavendedor">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Vendedor">¿Quieres  Vender?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Datos">Mis Datos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Cerrar">Cerrar Sesion</a>
              </li>
            </ul>
            
  
          </div>
        </nav>
      </div>
    <!-- fin menú -->
<h5>DATOS  </h5>
<section class="form_wrap">
<section class="cantact_info">
    <section class="info_title">
               
        <span class="fa fa-user-circle">

        </span> <h2>INFORMACION<br> <% Datos.forEach(function (Datos){ %> <%=Datos.datnombre%> <%})%> </h2>
     </section>
      <section class="info_items"> <p><span class="fa fa-envelope"></span> SISTEMA AUTOTEAM</p> </section> </section>
       <form action="" class="form_contact">
            <% Datos.forEach(function (Datos){ %> 
                <div class="user_info">
                 <label for="names" >Nombres </label>
                  <input type="text" class="nom" value="<%=Datos.datnombre%>" > 
              
                 <label for="phone">Apellidos</label> 
                 <input type="text" class="ape" value="<%=Datos.datapellido%> ">

                    <label for="phone">Celular</label>
                     <input type="text" class="tel" value="<%=Datos.datelefono%>">

                    <label for="phone">Tipo de documento</label>
                     <input type="text" class="tipo" value="<%=Datos.datipoid%>" readonly>
                     <label for="email" >Correo Electronico</label>
                      <input type="text" class="correo" value="<%=Datos.datcorreo%>">
                      <%})%>
                      <td>
                        <span class="action_btn2"> <a href="#">Actualizar</a></span>
                      </td>
                        </div> 
                    </form> 
                </section>

                      
    </body>
</html>